.abuot-content {
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: nowrap;
}

.subtitle {
  display: flex;
  flex-direction: column;
}

.about-desc .span {
  padding-right: 5rem;
}

@media screen and (max-width: 700px) {
  .abuot-content {
    flex-direction: column;
  }
  .about-desc .span {
    padding-right: 0px;
    padding-top: 1rem;
    line-height: 1.4rem;
    text-align: justify;
  }
}