.contact {
  background: #DB9D47;
  position: relative;
}

.contact .title {
  color: #FFFFC7;
}

.contact .subtitle {
  padding: 1rem 3rem;
  font-size: 2rem;
  color: #ddd;
}

.description {
  color: #FFFFC7;
  padding: 1rem 3rem;
  padding-top: .8rem;
  line-height: 1.9rem;
}

.info-title {
  padding: 0rem 3rem;
  color: #FFFFC7;
  font-size: 1.4rem;
  position: relative;
}

.conatact-info-decription {
  display: flex;
  padding: .8rem 3rem;
}

.contact-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.contact-id {
  color: #FFFFC7;
  font-size: 1rem;
  padding-top: .5rem;
  font-family: Playfair Display, san serif;
  /* color: black; */
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  /* padding-top: 1rem; */
  padding-bottom: 5rem;
}

/* .info-title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50px;
  background: beige;
} */

.logdown {
  display: inline-block;
  vertical-align: 2px;
  margin-right: 6px;
}

.logdown:after {
  color: #DB9D47;
  background: black;
  content: 'L';
  width: 28px;
  text-align: center;
  font: bold 25px/26px "Oleo Script Swash Caps", sans-serif;
  /* border: 3px solid; */
  display: inline-block;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 50%;
}

.container {
  padding: .5rem 3rem;
}

.form {
  /* border-radius: 10px; */
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  border: none;
  background: white;
  margin-left: 5px;
  padding: 4rem .1rem;
  position: relative;
  top: -10rem;
}

.form .row {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
}

.form .row .field-title {
  font-size: 1rem;
  font-weight: bold;
}

.form .row .field-input {
  margin-top: .4rem;
  padding: .8rem;
  padding-top: 1.3rem;
  height: 1.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* box-shadow: 1px 2px 1px -1px #777; */
}

.form .row .field-textarea {
  margin-top: .4rem;
  padding: .8rem;
  padding-top: 11.3rem;
  height: 11.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* box-shadow: 1px 2px 1px -1px #777; */
}

.form .row .field-submit {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 1px 2px 1px -1px #777;
  background: rgb(237, 155, 40);
}

.form .col {
  margin: 1rem;
  display: flex;
}

@media screen and (max-width: 700px) {
  .description {
    line-height: 1.4rem;
    text-align: justify;
  }
  .info {
    padding-bottom: 1rem;
  }
}